<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Code - Forlindev{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

        <!-- Icon -->
        <link rel="icon" type="image/png" href="{{ asset('assets/favicon.png') }}">

        <!-- Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Share code with Forlindev">
        <meta name="keywords" content="code, share, forlindev">
        <meta name="author" content="Forlindev">
        <meta name="robots" content="index, follow">
        <meta name="revisit-after" content="1 day">
        <meta name="language" content="English">
        <meta name="generator" content="Forlindev">
        <meta name="copyright" content="Forlindev">
        <meta name="rating" content="General">
        <meta name="distribution" content="Global">
        <meta name="doc-type" content="Web Page">
        <meta name="doc-class" content="Published">
        <meta name="doc-rights" content="Public">
        <meta name="doc-rating" content="Safe For Kids">

        {% block meta %}
        <!-- Open Graph -->
        <meta property="og:title" content="Code - Forlindev">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ path('app_newcode') }}">
        <meta property="og:image" content="{{ asset('assets/img/logo.png') }}">
        <meta property="og:description" content="Share code with Forlindev">
        <meta property="og:site_name" content="Forlindev">
        <meta property="og:locale" content="en_US">
        <meta property="og:locale:alternate" content="fr_FR">
        {% endblock %}

        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@Forlindev">
        <meta name="twitter:title" content="Code - Forlindev">
        <meta name="twitter:description" content="Share code with Forlindev">
        <meta name="twitter:image" content="{{ asset('assets/img/logo.png') }}">
        <meta name="twitter:image:alt" content="Forlindev">
        <meta name="twitter:creator" content="@Forlindev">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

        <div class="buttons">
            {% block buttons %}
                <a href="#" onclick="saveCode()">Save <span>ctrl+s</span></a>
                <a href="{{ path('app_newcode') }}">New <span>ctrl+l</span></a>
            {% endblock %}
        </div>
        {% block body %}{% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script type="text/javascript">
            // Save code to api and return id
            function saveCode() {

                // Create a new Axios post request
                axios.post('{{ path('api_save_code') }}', {
                    'code' : document.getElementById('code-textarea').value,
                }, {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                }).then(response => {
                    let data = response.data;
                    let id = data['id'];
                    let url = '{{ path('app_code_show', {'id': '_id_'}) }}'.replace('_id_', id);
                    window.location.replace(url);
                }).catch(error => {
                    console.log(error);
                });
            }

        </script>

        {% block keydown %}
        {% endblock %}



    </body>
</html>
